/*
 * Carousel (used in Grid, Logos Showcase)
 */

/* In code below always remove img{display:block;} to avoid conflicts with theme elements */

/* Owl Carousel v2.3.0 https://owlcarousel2.github.io/OwlCarousel2/
========================================================================== */
.owl-carousel,.owl-carousel .owl-item{-webkit-tap-highlight-color:transparent;position:relative}.owl-carousel{display:none;width:100%;z-index:1}.owl-carousel .owl-stage{position:relative;-ms-touch-action:pan-Y;touch-action:manipulation;-moz-backface-visibility:hidden}.owl-carousel .owl-stage:after{content:".";display:block;clear:both;visibility:hidden;line-height:0;height:0}.owl-carousel .owl-stage-outer{position:relative;overflow:hidden;-webkit-transform:translate3d(0,0,0)}.owl-carousel .owl-item,.owl-carousel .owl-wrapper{-webkit-backface-visibility:hidden;-moz-backface-visibility:hidden;-ms-backface-visibility:hidden;-webkit-transform:translate3d(0,0,0);-moz-transform:translate3d(0,0,0);-ms-transform:translate3d(0,0,0)}.owl-carousel .owl-item{min-height:1px;float:left;-webkit-backface-visibility:hidden;-webkit-touch-callout:none}.owl-carousel .owl-item img{width:100%}.owl-carousel .owl-dots.disabled,.owl-carousel .owl-nav.disabled{display:none}.no-js .owl-carousel,.owl-carousel.owl-loaded{display:block}.owl-carousel .owl-dot,.owl-carousel .owl-nav .owl-next,.owl-carousel .owl-nav .owl-prev{cursor:pointer;cursor:hand;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}.owl-carousel .owl-next,.owl-carousel .owl-prev,.owl-carousel button.owl-dot{background:0 0;color:inherit;border:none;padding:0!important;font:inherit}.owl-carousel.owl-loading{opacity:0;display:block}.owl-carousel.owl-hidden{opacity:0}.owl-carousel.owl-refresh .owl-item{visibility:hidden}.owl-carousel.owl-drag .owl-item{-ms-touch-action:none;touch-action:none;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}.owl-carousel.owl-grab{cursor:move;cursor:grab}.owl-carousel.owl-rtl{direction:rtl}.owl-carousel.owl-rtl .owl-item{float:right}.owl-carousel .animated{-webkit-animation-duration:1s;animation-duration:1s;-webkit-animation-fill-mode:both;animation-fill-mode:both}.owl-carousel .owl-animated-in{z-index:0}.owl-carousel .owl-animated-out{z-index:1}.owl-carousel .fadeOut{-webkit-animation-name:fadeOut;animation-name:fadeOut}@-webkit-keyframes fadeOut{0%{opacity:1}100%{opacity:0}}@keyframes fadeOut{0%{opacity:1}100%{opacity:0}}.owl-height{transition:height .5s ease-in-out}.owl-carousel .owl-item .owl-lazy{opacity:0;transition:opacity .4s ease}.owl-carousel .owl-item img.owl-lazy{-webkit-transform-style:preserve-3d;transform-style:preserve-3d}.owl-carousel .owl-video-wrapper{position:relative;height:100%;background:#000}.owl-carousel .owl-video-play-icon{position:absolute;height:80px;width:80px;left:50%;top:50%;margin-left:-40px;margin-top:-40px;cursor:pointer;z-index:1;-webkit-backface-visibility:hidden;transition:-webkit-transform .1s ease;transition:transform .1s ease}.owl-carousel .owl-video-play-icon:hover{-webkit-transform:scale(1.3,1.3);-ms-transform:scale(1.3,1.3);transform:scale(1.3,1.3)}.owl-carousel .owl-video-playing .owl-video-play-icon,.owl-carousel .owl-video-playing .owl-video-tn{display:none}.owl-carousel .owl-video-tn{opacity:0;height:100%;background-position:center center;background-repeat:no-repeat;background-size:contain;transition:opacity .4s ease}.owl-carousel .owl-video-frame{position:relative;z-index:1;height:100%;width:100%}

.owl-carousel ~ .g-preloader {
	display: block;
	margin: 1rem auto;
	}
.owl-carousel.owl-loaded ~ .g-preloader {
	display: none;
	}
.owl-carousel > * {
	width: auto !important;
	}
.owl-carousel .owl-item {
	flex-shrink: 0;
	}

/* Arrows */
.owl-carousel .owl-prev,
.owl-carousel .owl-next {
	position: absolute;
	top: 50%;
	font-size: 0;
	font-family: fontawesome;
	text-align: center;
	height: 3.5rem;
	width: 3.5rem;
	margin-top: -1.75rem;
	border-radius: 50%;
	border: 2px solid transparent;
	transition: background-color 0.3s, border-color 0.3s, color 0.3s;
	}
	.owl-prev:before,
	.owl-next:before {
		position: absolute;
		top: 50%;
		left: 50%;
		font-size: 1.8rem;
		transform: translate(-50%,-50%);
		}
.owl-prev {
	left: -4.5rem;
	}
	.owl-prev:before {
		content: '\f104';
		padding-right: 0.2rem;
		}
.owl-next {
	right: -4.5rem;
	}
	.owl-next:before {
		content: '\f105';
		padding-left: 0.2rem;
		}
.no-touch .color_primary .owl-prev:hover,
.no-touch .color_primary .owl-next:hover,
.no-touch .color_secondary .owl-prev:hover,
.no-touch .color_secondary .owl-next:hover,
.no-touch .color_custom .owl-prev:hover,
.no-touch .color_custom .owl-next:hover {
	border-color: #fff;
	color: #fff;
	}
.l-section.width_full .owl-prev,
.l-section.width_full .owl-next {
	top: 0;
	bottom: 0;
	border: none;
	border-radius: 0;
	margin-top: 0;
	height: auto;
	width: 4rem;
	text-shadow: 0 1px 3px rgba(0,0,0,0.3);
	color: #fff !important;
	}
	.l-section.width_full .owl-prev:before,
	.l-section.width_full .owl-next:before {
		font-size: 3rem;
		}
.l-section.width_full .owl-carousel[data-dots="1"] .owl-prev,
.l-section.width_full .owl-carousel[data-dots="1"] .owl-next {
	bottom: calc(20px + 1rem);
	}
.l-section.width_full .owl-prev {
	left: 0;
	}
.l-section.width_full .owl-next {
	right: 0;
	}
.no-touch .l-section.width_full .owl-prev:hover,
.no-touch .l-section.width_full .owl-next:hover {
	background-color: rgba(0,0,0,0.5);
	}
	
/* Dots */
.owl-dots {
	text-align: center;
	line-height: 0;
	padding-top: 1rem;
	}
	.owl-dot span {
		display: block;
		border-radius: 50%;
		background-color: rgba(0,0,0,0.2);
		width: 8px; /* fixed value */
		height: 8px; /* fixed value */
		margin: 6px; /* fixed value */
		}
	.owl-dot.active span {
		background-color: rgba(0,0,0,0) !important;
		border: 1px solid;
		width: 10px; /* fixed value */
		height: 10px; /* fixed value */
		margin: 5px; /* fixed value */
		}
	.color_primary .owl-dot span,
	.color_secondary .owl-dot span,
	.color_custom .owl-dot span {
		background-color: rgba(255,255,255,0.4);
		}
	.color_primary .owl-dot.active span,
	.color_secondary .owl-dot.active span,
	.color_custom .owl-dot.active span {
		border-color: #fff;
		}
