/* 
 * Comments
 */

.l-section.for_comments .l-section-h {
	border-top: 1px solid inherit;
	}
.l-navigation + .l-section.for_comments .l-section-h,
.l-section.for_author + .l-section.for_comments .l-section-h {
	border-top: none;
	}
.l-section.for_blogpost ~ .l-section.for_comments .l-section-h {
	padding: 2rem 0 0;
	}

.w-comments-title a {
	border-bottom: 1px dotted;
	}
.w-comments-list:after {
	content: '';
	display: block;
	clear: both;
	}
	.w-comments-item {
		position: relative;
		overflow: hidden;
		}
		.w-comments-item-meta:after {
			content: '';
			display: block;
			clear: both;
			}
		.w-comments-item-icon {
			position: absolute;
			top: 0;
			left: 0;
			text-align: center;
			line-height: 0;
			}
		.w-comments-item-author {
			float: left;
			}
.w-comments-title {
	margin-bottom: 0.6rem;
	}
	.w-comments-title:before {
		display: inline-block;
		vertical-align: top;
		content: '\f086';
		font-family: fontawesome;
		margin-right: 0.3rem;
		opacity: 0.33;
		}
	.w-comments-title > span {
		display: inline-block;
		vertical-align: top;
		}
.w-comments-list {
	margin-bottom: 2rem;
	border-bottom: 1px solid;
	}
	.w-comments-item {
		padding-top: 2rem;
		margin-bottom: 2rem;
		border-top: 1px solid;
		border-color: inherit;
		}
	.w-comments-list > .w-comments-item:first-child {
		border-top: none;
		}
		.w-comments-childlist {
			margin-left: 2rem;
			border-color: inherit;
			}
		.w-comments-item-meta,
		.w-comments-item-text,
		.w-comments-item-answer {
			margin-left: calc(50px + 1.3rem);
			}
		.w-comments-item-meta {
			margin-bottom: 0.6rem;
			}
			.w-comments-item-icon {
				top: 2rem;
				width: 50px; /* don't change to 'rem' units */
				border-radius: 50%;
				overflow: hidden;
				}
			.w-comments-item-author {
				font-weight: bold;
				margin-right: 0.6rem;
				}
			.w-comments-item-date {
				font-size: 0.9rem;
				color: inherit;
				opacity: 0.5;
				}
			.no-touch .w-comments-item-date:hover {
				opacity: 1;
				}
		.w-comments-item-text > *:last-child {
			margin-bottom: 0;
			}
		.w-comments-item-answer {
			font-size: 0.9rem;
			margin-top: 0.6rem;
			}
.w-comments-pagination {
	font-size: 0.9rem;
	text-align: center;
	}
	.w-comments-pagination a {
		margin: 0 0.6rem;
		}
.comment-reply-title small {
	font-size: 0.9rem;
	margin-left: 0.3rem;
	}
.w-comments-list .comment-respond {
	margin-bottom: 1.5rem;
	}
.w-comments .comment-reply-title,
.w-comments .comment-notes {
	margin-bottom: 1rem;
	}
	
/* WordPress Widget
   ========================================================================== */
.widget_recent_comments ul li {
	position: relative;
	line-height: 1.4rem;
	padding-left: 1rem;
	}
	.widget_recent_comments ul li:before {
		position: absolute;
		left: 0;
		content: '\f105';
		font-family: fontawesome;
		opacity: 0.5;
		}

/* Links Hover Underline 
   ========================================================================== */
.no-touch .links_underline .w-comments-item-meta a:hover,
.no-touch .links_underline .w-comments-item-text a:hover,
.no-touch .links_underline .w-comments-item-answer a:hover,
.no-touch .links_underline .w-comments-pagination a:hover,
.no-touch .links_underline .comment-reply-title a:hover {
	border-bottom: 1px solid;
	}
