/* 
 * Blog
 */

.w-blogpost-preview {
	position: relative;
	background-size: cover;
	background-position: 50% 25%;
	}
	.w-blogpost-preview img {
		display: block;
		float: none !important;
		margin: 0 !important;
		width: 100%;
		}

.w-blogpost-meta {
	line-height: 1.2rem;
	}
	.w-blogpost-meta a {
		color: inherit;
		}
	.w-blogpost-meta > * {
		display: inline-block;
		vertical-align: top;
		font-size: 0.9rem;
		margin: 0 1.2rem 0.4rem 0;
		}
		.w-blogpost-meta > *:before {
			font-family: fontawesome;
			vertical-align: top;
			margin-right: 0.3rem;
			}
		.w-blogpost-meta-date:before {
			content: '\f017';
			}
		.w-blogpost-meta-author:before {
			content: '\f007';
			}
		.w-blogpost-meta-tags:before {
			content: '\f02c';
			}
		.w-blogpost-meta-category:before {
			content: '\f07c';
			}
		.w-blogpost-meta-comments:before {
			content: '\f086';
			}
	.w-blogpost-meta-date,
	.w-blogpost-meta-comments {
		white-space: nowrap;
		}

/* PREVIEW basic */
.l-section.preview_basic > .l-section-h {
	padding-bottom: 0;
	}
.l-section.preview_basic + .l-section > .l-section-h {
	padding-top: 0;
	}
	.l-section.preview_basic .w-blogpost-preview {
		margin-bottom: 1.5rem;
		}
	.l-section.preview_basic .w-blogpost-meta {
		padding: 0 0 1rem;
		}

/* PREVIEW none */
.l-section.preview_none > .l-section-h {
	padding-bottom: 0;
	}
.l-section.preview_none + .l-section > .l-section-h {
	padding-top: 0;
	}
	.l-section.preview_none .w-blogpost-preview {
		display: none;
		}
	.l-section.preview_none .w-blogpost-meta {
		padding: 0.4rem 0 1.2rem;
		}
		
/* PREVIEW modern */
.l-section.preview_modern > .l-section-h {
	padding-bottom: 0;
	}
	.l-section.preview_modern .w-blogpost {
		position: relative;
		padding: 40% 2.5rem 2rem;
		}
		.l-section.preview_modern .w-blogpost:after {
			content: '';
			position: absolute;
			left: 0;
			right: 0;
			bottom: 0;
			height: 50%;
			background: linear-gradient(transparent, rgba(30,30,30,0.8)) repeat-x;
			}
		.l-section.preview_modern .w-blogpost-preview {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			overflow: hidden;
			}
		.l-section.preview_modern .w-blogpost-body {
			margin: 0 auto;
			position: relative;
			z-index: 1;
			}
			.l-section.preview_modern .w-blogpost-title {
				color: #fff;
				}
			.l-section.preview_modern .w-blogpost-meta > * {
				color: rgba(255,255,255,0.5);
				}
			.no-touch .l-section.preview_modern .w-blogpost-meta a:hover {
				color: #fff;
				}
.sidebar_left .l-section.preview_modern + .l-section > .l-section-h,
.sidebar_right .l-section.preview_modern + .l-section > .l-section-h {
	padding-top: 2.5rem;
	}
.sidebar_none .l-section.preview_modern .l-section-h,
.sidebar_none .l-section.preview_modern .w-blogpost {
	position: static;
	}
.sidebar_none .l-section.preview_modern .w-blogpost {
	padding-top: 20%;
	padding-left: 0;
	padding-right: 0;
	}

/* PREVIEW trendy */
.sidebar_none .l-section.preview_trendy {
	overflow: hidden;
	}
	.l-section.preview_trendy .w-blogpost {
		position: relative;
		text-align: center;
		padding: 24% 2.5rem;
		}
		.l-section.preview_trendy .w-blogpost:after {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background-color: rgba(0,0,0,0.5);
			}
		.l-section.preview_trendy .w-blogpost-preview {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			}
		.l-section.preview_trendy .w-blogpost-body {
			position: relative;
			padding-top: 3rem;
			z-index: 1;
			}
			.l-section.preview_trendy .w-blogpost-title {
				font-weight: bold;
				color: #fff;
				}
			.l-section.preview_trendy .w-blogpost-meta > * {
				color: rgba(255,255,255,0.5);
				}
			.no-touch .l-section.preview_trendy .w-blogpost-meta a:hover {
				color: #fff;
				}
				.l-section.preview_trendy .w-blogpost-meta-category {
					position: absolute;
					top: 0;
					left: 0;
					right: 0;
					font-size: 0;
					margin: 0;
					}
					.l-section.preview_trendy .w-blogpost-meta-category:before {
						display: none;
						}
					.l-section.preview_trendy .w-blogpost-meta-category a {
						display: inline-block;
						vertical-align: top;
						font-size: 0.7rem;
						line-height: 1.8rem;
						font-weight: bold;
						text-transform: uppercase;
						margin: 0.15rem;
						padding: 0 0.8rem;
						border-radius: 5rem;
						border: none !important;
						background-color: rgba(0,0,0,0.3);
						color: #fff;
						}
.sidebar_left .l-section.preview_trendy > .l-section-h,
.sidebar_right .l-section.preview_trendy > .l-section-h {
	padding-bottom: 0;
	}
.sidebar_left .l-section.preview_trendy + .l-section > .l-section-h,
.sidebar_right .l-section.preview_trendy + .l-section > .l-section-h {
	padding-top: 2.5rem;
	}
.sidebar_none .l-section.preview_trendy .l-section-h,
.sidebar_none .l-section.preview_trendy .w-blogpost {
	position: static;
	}
.sidebar_none .l-section.preview_trendy .w-blogpost {
	padding: 10% 0;
	}
.sidebar_none .l-header.bg_transparent + .l-main .l-section.preview_trendy .w-blogpost {
	padding-top: 5%;
	}
	
/* FOR blogpost */
.l-section.for_blogpost ~ .l-section:last-child {
	margin-bottom: 4rem;
	}
	
/* FOR tags */
.l-section.for_tags .l-section-h {
	padding: 2rem 0;
	}
.l-section.for_blogpost + .l-section + .l-section.for_tags .l-section-h {
	padding-top: 0;
	}
	
/* FOR sharing */
.l-section.for_sharing .l-section-h {
	padding: 0 0 2rem;
	}
	
/* FOR author */
.l-section.for_author .l-section-h {
	padding: 0;
	}
	
/* FOR related */
.l-section.for_related .l-section-h {
	padding: 2rem 0;
	border-top: 1px solid;
	border-color: inherit;
	}
.l-navigation + .l-section.for_related .l-section-h,
.l-section.for_author + .l-section.for_related .l-section-h {
	border-top: none;
	}
	
/* FOR blognav */
.l-section.for_blognav .l-section-h {
	padding: 2rem 0;
	border-top: 1px solid;
	border-color: inherit;
	}
.l-section.for_author + .l-section.for_blognav .l-section-h {
	border-top: none;
	}
	
/* Blog navigation
   ========================================================================== */
.w-blognav {
	display: flex;
	}
body.rtl .w-blognav.inv_false,
body:not(.rtl) .w-blognav.inv_true {
	flex-direction: row-reverse;
	}
	.w-blognav-item {
		padding: 0 2.2rem;
		width: 50%;
		position: relative;
		color: inherit !important;
		transition: none;
		}
	.w-blognav-item:only-of-type {
		width: 100%;
		}
	.w-blognav.inv_false .to_prev,
	.w-blognav.inv_true .to_next {
		text-align: left;
		}
	.w-blognav.inv_false .to_next,
	.w-blognav.inv_true .to_prev {
		text-align: right;
		}
		.w-blognav-item:before {
			font: 2.5rem/1 fontawesome;
			position: absolute;
			top: 0.2rem;
			opacity: 0.3;
			}
		.w-blognav.inv_false .to_prev:before,
		.w-blognav.inv_true .to_next:before {
			content: '\f104';
			left: 0;
			}
		.w-blognav.inv_false .to_next:before,
		.w-blognav.inv_true .to_prev:before {
			content: '\f105';
			right: 0;
			}
		.w-blognav-meta {
			display: block;
			font-size: 0.8rem;
			line-height: 1.4rem;
			opacity: 0.5;
			}
		.w-blognav-title {
			transition: color 0.3s;
			}
	
/* Author Box
   ========================================================================== */
.w-author {
	overflow: hidden;
	padding: 2rem;
	border-radius: 0.3rem;
	border: 2px solid;
	}
.w-author + .w-grid {
	margin-top: 3.5rem;
	}
	.w-author-img {
		float: left;
		}
		.w-author-img img {
			display: inline-block;
			vertical-align: top;
			width: 90px; /* don't change to 'rem' units */
			border-radius: 50%;
			}
	.w-author-name {
		font-size: 1.2rem;
		line-height: 1.5;
		margin: 0 0 0.5rem 8rem;
		}
	.w-author-url {
		font-size: 0.9rem;
		line-height: 1.7;
		margin: 0 0 0.6rem 8rem;
		}
		.w-author-url a {
			color: inherit;
			}
	.w-author-desc {
		font-size: 0.9rem;
		line-height: 1.7;
		margin-left: 8rem;
		margin-bottom: 0 !important;
		}
	.w-author-meta {
		font-weight: bold;
		margin: 0 0 0.6rem 8rem;
		}
		
/* Tags
   ========================================================================== */
.g-tags {
	font-size: 0.9rem;
	}
	.g-tags:before {
		content: '\f02c';
		font-family: fontawesome;
		vertical-align: top;
		margin-right: 0.2rem;
		opacity: 0.5;
		}
	.g-tags-title {
		display: none;
		}
		
		
		
/* WordPress Widgets
   ========================================================================== */

.widget_us_blog {
	max-width: 350px; /* fixed value as 'us_350_350_crop' image size */
	}
.widget_us_blog .w-grid-item-elm.post_title {
	font-size: inherit;
	}

.widget_archive ul li,
.widget_categories ul li,
.widget_recent_entries ul li {
	position: relative;
	line-height: 1.4rem;
	padding-left: 1rem;
	}
	.widget_archive ul li:before,
	.widget_categories ul li:before,
	.widget_recent_entries ul li:before {
		position: absolute;
		left: 0;
		content: '\f105';
		font-family: fontawesome;
		opacity: 0.5;
		}
.widget_recent_entries ul li span {
	display: block;
	font-size: 0.9rem;
	opacity: 0.5;
	}
.widget_tag_cloud a {
	color: inherit;
	}
.widget_rss .widgettitle a {
	padding-left: 2rem;
	position: relative;
	}
	.widget_rss .widgettitle a:first-child {
		display: none;
		}
	.widget_rss .widgettitle a:before {
		position: absolute;
		top: 0;
		left: 0;
		content: '\f143';
		font-family: fontawesome;
		opacity: 0.5;
		}
	.widget_rss ul li span {
		display: block;
		opacity: 0.5;
		}
	.widget_rss ul li cite {
		font-size: 0.9rem;
		font-style: normal;
		opacity: 0.5;
		}
	.widget_rss ul li div {
		display: block;
		font-size: 0.9rem;
		}
.widget_calendar #calendar_wrap {
	padding: 1rem;
	border-style: solid;
	border-width: 2px; /* fixed value */
	}
	#wp-calendar {
		width: 100%;
		}
	#wp-calendar caption {
		font-size: 1.2rem;
		padding: 0.5rem 1.5rem 1rem;
		}
	#wp-calendar thead th,
	#wp-calendar tbody td,
	#wp-calendar tfoot td {
		padding: 0;
		border: none;
		text-align: center;
		line-height: 2rem;
		}
	#wp-calendar thead th {
		font-size: 0.7rem;
		font-weight: normal;
		border-top: none;
		opacity: 0.5;
		}
	#wp-calendar tbody td a {
		display: block;
		font-size: 1.2rem;
		font-weight: bold;
		}
	#wp-calendar tbody td#today {
		font-size: 1.2rem;
		font-weight: bold;
		}
	#wp-calendar td#prev {
		text-align: left;
		padding-left: 0.7rem;
		}
	#wp-calendar td#next {
		text-align: right;
		padding-right: 0.7rem;
		}
		
		

/* Rounded Corners
   ========================================================================== */
.rounded_none .w-author,
.rounded_none .w-blogpost-meta-category a {
	border-radius: 0 !important;
	}
	
	
	
/* Links Hover Underline 
   ========================================================================== */
.no-touch .links_underline .w-author-name a:hover,
.no-touch .links_underline .w-author-url a:hover,
.no-touch .links_underline .w-author-desc a:hover,
.no-touch .links_underline .w-blogpost-meta a:hover,
.no-touch .links_underline .w-blognav a:hover .w-blognav-title,
.no-touch .links_underline .g-tags a:hover,
.no-touch .links_underline #wp-calendar td a:hover,
.no-touch .links_underline .widget_tag_cloud a:hover {
	border-bottom: 1px solid;
	}
