/* 
 * Buttons
 */
   
.w-btn,
.cl-btn,
.button,
.ubtn,
button[type="submit"],
input[type="submit"] {
	display: inline-block;
	vertical-align: top;
	text-align: center;
	white-space: nowrap;
	position: relative;
	background: none;
	border: none;
	z-index: 0;
	cursor: pointer;
	transition: background-color 0.3s, border-color 0.3s, box-shadow 0.3s, opacity 0.3s, color 0.3s;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	}
a.w-btn {
	border-width: 0 !important;
	}
	.w-btn-label {
		position: relative;
		}
	.w-btn-label:empty {
		padding: 0.5em !important;
		}
	.w-btn i {
		position: absolute;
		line-height: inherit;
		vertical-align: top;
		}
	.w-btn.icon_atleft i + .w-btn-label {
		padding-left: 1.6em;
		}
	.w-btn.icon_atright i + .w-btn-label {
		padding-right: 1.6em;
		}
	.w-btn:after {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		border-radius: inherit;
		border-width: 2px;
		border-style: solid;
		border-color: inherit;
		}

/* Button Wrapper */
.w-btn-wrapper {
	margin: 0.3rem 0;
	}
.w-btn-wrapper.align_left {
	display: inline-block;
	vertical-align: top;
	margin-right: 1rem;
	}
.w-btn-wrapper.align_right {
	float: right;
	margin-left: 1rem;
	}
.wpb_column.align_center .w-btn-wrapper.align_left,
.wpb_column.align_center .w-btn-wrapper.align_right {
	margin-left: 0.6rem;
	margin-right: 0.6rem;
	}

/* HOVER: slide */
.btn_hov_slide .w-btn.style_solid:after {
	border: none;
	}
.btn_hov_slide .w-btn,
.btn_hov_slide .button,
.btn_hov_slide .cl-btn,
.btn_hov_slide button[type="submit"],
.btn_hov_slide input[type="submit"] {
	overflow: hidden;
	}
	.no-touch .btn_hov_slide .w-btn:before,
	.no-touch .btn_hov_slide .cl-btn:before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		height: 0;
		transition: height 0.3s;
		background-color: rgba(0,0,0,0.15);
		}
	.no-touch .btn_hov_slide .w-btn:hover:before,
	.no-touch .btn_hov_slide .cl-btn:hover:before {
		height: 100%;
		}

/* HOVER: fade */
.btn_hov_fade .w-btn.style_solid:after {
	border: none;
	}
.btn_hov_fade .w-btn,
.btn_hov_fade .button,
.btn_hov_fade .cl-btn,
.btn_hov_fade button[type="submit"],
.btn_hov_fade input[type="submit"] {
	overflow: hidden;
	}
	.no-touch .btn_hov_fade .w-btn:before,
	.no-touch .btn_hov_fade .cl-btn:before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		opacity: 0;
		transition: opacity 0.3s;
		background-color: rgba(0,0,0,0.15);
		}
	.no-touch .btn_hov_fade .w-btn:hover:before,
	.no-touch .btn_hov_fade .cl-btn:hover:before {
		opacity: 1;
		}

/* HOVER: reversed */
.no-touch .btn_hov_reverse .w-btn.style_solid:hover {
	background-color: transparent;
	}

/* COLOR: transparent */
.w-btn.color_transparent {
	overflow: visible;
	padding: 0 !important;
	background: none !important;
	box-shadow: none !important;
	}
.w-btn.color_transparent.style_outlined {
	font-weight: normal;
	font-family: inherit;
	text-transform: none;
	letter-spacing: 0;
	}
	.w-btn.color_transparent:before,
	.w-btn.color_transparent:after {
		display: none !important;
		}
	.w-btn.color_transparent.icon_atleft i {
		left: 0 !important;
		}
	.w-btn.color_transparent.icon_atright i {
		right: 0 !important;
		}
	
/* COLOR: primary & secondary */
.l-body .cl-btn,
.no-touch .l-body .cl-btn:hover,
button[type="submit"]:not(.w-btn),
input[type="submit"] {
	color: #fff;
	}
.w-btn.color_primary.style_solid,
.w-btn.color_secondary.style_solid,
.no-touch .btn_hov_fade .w-btn.color_primary.style_outlined:hover,
.no-touch .btn_hov_fade .w-btn.color_secondary.style_outlined:hover,
.no-touch .btn_hov_slide .w-btn.color_primary.style_outlined:hover,
.no-touch .btn_hov_slide .w-btn.color_secondary.style_outlined:hover,
.no-touch .btn_hov_reverse .w-btn.color_primary.style_outlined:hover,
.no-touch .btn_hov_reverse .w-btn.color_secondary.style_outlined:hover {
	color: #fff !important;
	}

/* COLOR: light */
.w-btn.color_light {
	color: inherit !important;
	}
	.w-btn.color_light.style_solid:before {
		background-color: rgba(0,0,0,0.05);
		}
.l-section.color_primary .w-btn.color_light.style_solid,
.l-section.color_secondary .w-btn.color_light.style_solid,
.l-section.color_custom .w-btn.color_light.style_solid {
	background-color: rgba(255,255,255,0.15);
	}
.l-section.color_primary .w-btn.color_light.style_outlined,
.l-section.color_secondary .w-btn.color_light.style_outlined,
.l-section.color_custom .w-btn.color_light.style_outlined {
	border-color: rgba(255,255,255,0.33);
	}
	.l-section.color_primary .w-btn.color_light:before,
	.l-section.color_secondary .w-btn.color_light:before,
	.l-section.color_custom .w-btn.color_light:before {
		background-color: rgba(255,255,255,0.1);
		}

/* COLOR: white */
.w-btn.color_white {
	border-color: #fff !important;
	}
.w-btn.color_white.style_solid,
.w-btn.color_white.style_outlined:before,
.no-touch .btn_hov_reverse .w-btn.color_white.style_outlined:hover {
	background-color: #fff;
	}
.w-btn.color_white.style_outlined,
.no-touch .btn_hov_reverse .w-btn.color_white.style_solid:hover {
	color: #fff !important;
	}
.w-btn.color_white.style_solid,
.no-touch .btn_hov_fade .w-btn.color_white.style_outlined:hover,
.no-touch .btn_hov_slide .w-btn.color_white.style_outlined:hover,
.no-touch .btn_hov_reverse .w-btn.color_white.style_outlined:hover {
	color: #333 !important;
	}
.w-btn.color_white.style_solid:before {
	background-color: rgba(0,0,0,0.08);
	}

/* COLOR: black */
.w-btn.color_black {
	border-color: #000 !important;
	}
.w-btn.color_black.style_solid,
.w-btn.color_black.style_outlined:before,
.no-touch .btn_hov_reverse .w-btn.color_black.style_outlined:hover {
	background-color: #000;
	}
.w-btn.color_black.style_outlined,
.no-touch .btn_hov_reverse .w-btn.color_black.style_solid:hover {
	color: #000 !important;
	}
.w-btn.color_black.style_solid,
.no-touch .btn_hov_fade .w-btn.color_black.style_outlined:hover,
.no-touch .btn_hov_slide .w-btn.color_black.style_outlined:hover,
.no-touch .btn_hov_reverse .w-btn.color_black.style_outlined:hover {
	color: #fff !important;
	}
.w-btn.color_black.style_solid:before {
	background-color: rgba(255,255,255,0.15);
	}

/* COLOR: red */
.w-btn.color_red {
	border-color: #f40 !important;
	}
.w-btn.color_red.style_solid,
.w-btn.color_red.style_outlined:before,
.no-touch .btn_hov_reverse .w-btn.color_red.style_outlined:hover {
	background-color: #f40;
	}
.w-btn.color_red.style_outlined,
.no-touch .btn_hov_reverse .w-btn.color_red.style_solid:hover {
	color: #f40 !important;
	}
.w-btn.color_red.style_solid,
.no-touch .btn_hov_fade .w-btn.color_red.style_outlined:hover,
.no-touch .btn_hov_slide .w-btn.color_red.style_outlined:hover,
.no-touch .btn_hov_reverse .w-btn.color_red.style_outlined:hover {
	color: #fff !important;
	}

/* COLOR: pink */
.w-btn.color_pink {
	border-color: #ff6b77 !important;
	}
.w-btn.color_pink.style_solid,
.w-btn.color_pink.style_outlined:before,
.no-touch .btn_hov_reverse .w-btn.color_pink.style_outlined:hover {
	background-color: #ff6b77;
	}
.w-btn.color_pink.style_outlined,
.no-touch .btn_hov_reverse .w-btn.color_pink.style_solid:hover {
	color: #ff6b77 !important;
	}
.w-btn.color_pink.style_solid,
.no-touch .btn_hov_fade .w-btn.color_pink.style_outlined:hover,
.no-touch .btn_hov_slide .w-btn.color_pink.style_outlined:hover,
.no-touch .btn_hov_reverse .w-btn.color_pink.style_outlined:hover {
	color: #fff !important;
	}

/* COLOR: blue */
.w-btn.color_blue {
	border-color: #5ac8ed !important;
	}
.w-btn.color_blue.style_solid,
.w-btn.color_blue.style_outlined:before,
.no-touch .btn_hov_reverse .w-btn.color_blue.style_outlined:hover {
	background-color: #5ac8ed;
	}
.w-btn.color_blue.style_outlined,
.no-touch .btn_hov_reverse .w-btn.color_blue.style_solid:hover {
	color: #5ac8ed !important;
	}
.w-btn.color_blue.style_solid,
.no-touch .btn_hov_fade .w-btn.color_blue.style_outlined:hover,
.no-touch .btn_hov_slide .w-btn.color_blue.style_outlined:hover,
.no-touch .btn_hov_reverse .w-btn.color_blue.style_outlined:hover {
	color: #fff !important;
	}

/* COLOR: green */
.w-btn.color_green {
	border-color: #59ba41 !important;
	}
.w-btn.color_green.style_solid,
.w-btn.color_green.style_outlined:before,
.no-touch .btn_hov_reverse .w-btn.color_green.style_outlined:hover {
	background-color: #59ba41;
	}
.w-btn.color_green.style_outlined,
.no-touch .btn_hov_reverse .w-btn.color_green.style_solid:hover {
	color: #59ba41 !important;
	}
.w-btn.color_green.style_solid,
.no-touch .btn_hov_fade .w-btn.color_green.style_outlined:hover,
.no-touch .btn_hov_slide .w-btn.color_green.style_outlined:hover,
.no-touch .btn_hov_reverse .w-btn.color_green.style_outlined:hover {
	color: #fff !important;
	}

/* COLOR: yellow */
.w-btn.color_yellow {
	border-color: #fac000 !important;
	}
.w-btn.color_yellow.style_solid,
.w-btn.color_yellow.style_outlined:before,
.no-touch .btn_hov_reverse .w-btn.color_yellow.style_outlined:hover {
	background-color: #fac000;
	}
.w-btn.color_yellow.style_outlined,
.no-touch .btn_hov_reverse .w-btn.color_yellow.style_solid:hover {
	color: #fac000 !important;
	}
.w-btn.color_yellow.style_solid,
.no-touch .btn_hov_fade .w-btn.color_yellow.style_outlined:hover,
.no-touch .btn_hov_slide .w-btn.color_yellow.style_outlined:hover,
.no-touch .btn_hov_reverse .w-btn.color_yellow.style_outlined:hover {
	color: #fff !important;
	}
	
/* COLOR: midnight */
.w-btn.color_midnight {
	border-color: #2c3e50 !important;
	}
.w-btn.color_midnight.style_solid,
.w-btn.color_midnight.style_outlined:before,
.no-touch .btn_hov_reverse .w-btn.color_midnight.style_outlined:hover {
	background-color: #2c3e50;
	}
.w-btn.color_midnight.style_outlined,
.no-touch .btn_hov_reverse .w-btn.color_midnight.style_solid:hover {
	color: #2c3e50 !important;
	}
.w-btn.color_midnight.style_solid,
.no-touch .btn_hov_fade .w-btn.color_midnight.style_outlined:hover,
.no-touch .btn_hov_slide .w-btn.color_midnight.style_outlined:hover,
.no-touch .btn_hov_reverse .w-btn.color_midnight.style_outlined:hover {
	color: #fff !important;
	}
.w-btn.color_midnight.style_solid:before {
	background-color: rgba(0,0,0,0.2);
	}

/* COLOR: purple */
.w-btn.color_purple {
	border-color: #8560a8 !important;
	}
.w-btn.color_purple.style_solid,
.w-btn.color_purple.style_outlined:before,
.no-touch .btn_hov_reverse .w-btn.color_purple.style_outlined:hover {
	background-color: #8560a8;
	}
.w-btn.color_purple.style_outlined,
.no-touch .btn_hov_reverse .w-btn.color_purple.style_solid:hover {
	color: #8560a8 !important;
	}
.w-btn.color_purple.style_solid,
.no-touch .btn_hov_fade .w-btn.color_purple.style_outlined:hover,
.no-touch .btn_hov_slide .w-btn.color_purple.style_outlined:hover,
.no-touch .btn_hov_reverse .w-btn.color_purple.style_outlined:hover {
	color: #fff !important;
	}

/* COLOR: navy */
.w-btn.color_navy {
	border-color: #1265a8 !important;
	}
.w-btn.color_navy.style_solid,
.w-btn.color_navy.style_outlined:before,
.no-touch .btn_hov_reverse .w-btn.color_navy.style_outlined:hover {
	background-color: #1265a8;
	}
.w-btn.color_navy.style_outlined,
.no-touch .btn_hov_reverse .w-btn.color_navy.style_solid:hover {
	color: #1265a8 !important;
	}
.w-btn.color_navy.style_solid,
.no-touch .btn_hov_fade .w-btn.color_navy.style_outlined:hover,
.no-touch .btn_hov_slide .w-btn.color_navy.style_outlined:hover,
.no-touch .btn_hov_reverse .w-btn.color_navy.style_outlined:hover {
	color: #fff !important;
	}

/* COLOR: teal */
.w-btn.color_teal {
	border-color: #008b83 !important;
	}
.w-btn.color_teal.style_solid,
.w-btn.color_teal.style_outlined:before,
.no-touch .btn_hov_reverse .w-btn.color_teal.style_outlined:hover {
	background-color: #008b83;
	}
.w-btn.color_teal.style_outlined,
.no-touch .btn_hov_reverse .w-btn.color_teal.style_solid:hover {
	color: #008b83 !important;
	}
.w-btn.color_teal.style_solid,
.no-touch .btn_hov_fade .w-btn.color_teal.style_outlined:hover,
.no-touch .btn_hov_slide .w-btn.color_teal.style_outlined:hover,
.no-touch .btn_hov_reverse .w-btn.color_teal.style_outlined:hover {
	color: #fff !important;
	}

/* COLOR: brown */
.w-btn.color_brown {
	border-color: #6a4530 !important;
	}
.w-btn.color_brown.style_solid,
.w-btn.color_brown.style_outlined:before,
.no-touch .btn_hov_reverse .w-btn.color_brown.style_outlined:hover {
	background-color: #6a4530;
	}
.w-btn.color_brown.style_outlined,
.no-touch .btn_hov_reverse .w-btn.color_brown.style_solid:hover {
	color: #6a4530 !important;
	}
.w-btn.color_brown.style_solid,
.no-touch .btn_hov_fade .w-btn.color_brown.style_outlined:hover,
.no-touch .btn_hov_slide .w-btn.color_brown.style_outlined:hover,
.no-touch .btn_hov_reverse .w-btn.color_brown.style_outlined:hover {
	color: #fff !important;
	}

/* COLOR: cream */
.w-btn.color_cream {
	border-color: #ffe2bf !important;
	}
.w-btn.color_cream.style_solid,
.w-btn.color_cream.style_outlined:before,
.no-touch .btn_hov_reverse .w-btn.color_cream.style_outlined:hover {
	background-color: #ffe2bf;
	}
.w-btn.color_cream.style_outlined,
.no-touch .btn_hov_reverse .w-btn.color_cream.style_solid:hover {
	color: #ffe2bf !important;
	}
.w-btn.color_cream.style_solid,
.no-touch .btn_hov_fade .w-btn.color_cream.style_outlined:hover,
.no-touch .btn_hov_slide .w-btn.color_cream.style_outlined:hover,
.no-touch .btn_hov_reverse .w-btn.color_cream.style_outlined:hover {
	color: #65584c !important;
	}
.w-btn.color_cream.style_solid:before {
	background-color: rgba(0,0,0,0.08);
	}

/* COLOR: lime */
.w-btn.color_lime {
	border-color: #baeb59 !important;
	}
.w-btn.color_lime.style_solid,
.w-btn.color_lime.style_outlined:before,
.no-touch .btn_hov_reverse .w-btn.color_lime.style_outlined:hover {
	background-color: #baeb59;
	}
.w-btn.color_lime.style_outlined,
.no-touch .btn_hov_reverse .w-btn.color_lime.style_solid:hover {
	color: #baeb59 !important;
	}
.w-btn.color_lime.style_solid,
.no-touch .btn_hov_fade .w-btn.color_lime.style_outlined:hover,
.no-touch .btn_hov_slide .w-btn.color_lime.style_outlined:hover,
.no-touch .btn_hov_reverse .w-btn.color_lime.style_outlined:hover {
	color: #606652 !important;
	}
.w-btn.color_lime.style_solid:before {
	background-color: rgba(0,0,0,0.08);
	}

/* Links Hover Underline 
   ========================================================================== */
.no-touch .links_underline .w-btn.color_transparent:hover .w-btn-label {
	border-bottom: 1px solid;
	}
