/* 
 * Grid
 */

.w-grid[class*="cols_"] .w-grid-list {
	display: flex;
	flex-wrap: wrap;
	}
	.w-grid-item {
		flex-shrink: 0;
		}
		.w-grid-item-h {
			position: relative;
			height: 100%;
			}
		.w-grid.overflow_hidden .w-grid-item-h {
			overflow: hidden;
			}
			.w-grid-item-h time {
				display: block;
				}
			.w-grid-item-h a {
				pointer-events: auto;
				}
			.w-grid-item-anchor {
				position: absolute;
				z-index: 10;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				}
			.w-grid-item-elm.color_link_inherit a,
			.color_alternate .w-grid-item-elm.color_link_inherit a,
			.no-touch .w-grid-item-elm.color_link_inherit.with_text_color > a:hover {
				color: inherit;
				}
.w-grid > .pagination {
	margin-top: 2rem;
	}
.w-grid[class*="cols_"] > .pagination .nav-links {
	justify-content: center;
	}
h4.w-grid-none {
	text-align: center;
	padding: 2rem;
	margin: 0;
	}
.l-section.color_primary .w-grid-none,
.l-section.color_secondary .w-grid-none,
.l-section.color_custom .w-grid-none {
	background-color: rgba(255,255,255,0.1);
	}

/* TYPE: Masonry */
.w-grid.type_masonry .w-grid-item-h {
	height: auto;
	}
	/* reset aspect ratio for video */
	.w-grid.type_masonry .post_image .w-video-h,
	.w-grid:not([class*="cols_"]) .post_image .w-video-h {
		padding-bottom: 56.25% !important;
		}

/* TYPE: Carousel */
.w-grid.type_carousel .w-grid-list {
	width: auto !important;
	}
.l-section.width_full .w-grid.type_carousel .w-grid-list {
	margin-left: 0 !important;
	margin-right: 0 !important;
	}
	/* stretch carousel items to the equal height */
	.w-grid.type_carousel .w-grid-list:not([data-items="1"]) .owl-stage {
		display: flex;
		}
		.w-grid.type_carousel .w-grid-item {
			height: 100%;
			}

/* Fixed Aspect Ratio */
.w-grid.height_fixed .w-grid-item-h {
	overflow: hidden;
	height: auto;
	}
.w-grid.height_fixed .w-grid-item-h:before {
	display: block;
	content: '';
	}
	.w-grid.height_fixed .w-grid-item-elm.post_image img,
	.w-grid.height_fixed .w-grid-item-elm.type_image img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		}

/* Grid items size for Portfolio Pages */
.w-grid.cols_6 .w-grid-item.size_2x1,
.w-grid.cols_6 .w-grid-item.size_2x2 {
	width: 33.3333%;
	}
.w-grid.cols_5 .w-grid-item.size_2x1,
.w-grid.cols_5 .w-grid-item.size_2x2 {
	width: 40%;
	}
.w-grid.cols_4 .w-grid-item.size_2x1,
.w-grid.cols_4 .w-grid-item.size_2x2 {
	width: 50%;
	}
.w-grid.cols_3 .w-grid-item.size_2x1,
.w-grid.cols_3 .w-grid-item.size_2x2 {
	width: 66.6666%;
	}
.w-grid.cols_2 .w-grid-item.size_2x1,
.w-grid.cols_2 .w-grid-item.size_2x2 {
	width: 100%;
	}

/* Preloader */
.w-grid-preloader {
	position: relative;
	height: 0;
	width: 100%;
	overflow: hidden;
	}
	.w-grid-preloader .g-preloader {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%,-50%);
		}
.w-grid-preloader.active {
	height: 20rem;
	}
.w-grid-preloader.active ~ .g-loadmore,
.w-grid-preloader.active ~ .pagination {
	display: none;
	}

/* Grid element: Wrappers */
.w-grid-item .w-hwrapper,
.w-grid-item .w-vwrapper {
	position: relative;
	z-index: 1;
	pointer-events: none;
	}
.w-grid-item-h > .w-vwrapper:only-child {
	height: 100%;
	}

/* Grid element: Image */
.w-grid-item-elm.post_image {
	overflow: hidden;
	position: relative;
	}
	.w-grid-item-elm.post_image img {
		display: block;
		width: 100%;
		}
.w-grid-item-elm.post_image.as_circle {
	border-radius: 50%;
	}
.w-grid-item-placeholder {
	position: relative;
	}
	.w-grid-item.format-audio .w-grid-item-elm.post_image:after,
	.w-grid-item.format-video .w-grid-item-elm.post_image:after {
		font: 700 1.4rem/3.5rem fontawesome;
		width: 3.5rem;
		text-align: center;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%,-50%);
		border-radius: 50%;
		background-color: rgba(0,0,0,0.5);
		color: #fff;
		pointer-events: none;
		}
	.w-grid-item.format-video .w-grid-item-elm.post_image:after {
		content: '\f04b';
		width: 3.2rem;
		padding-left: 0.3rem;
		}
	.w-grid-item.format-audio .w-grid-item-elm.post_image:after {
		content: '\f001';
		width: 3.3rem;
		padding-right: 0.2rem;
		}
	.w-grid-item-elm.post_image.with_quote_icon:after {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		content: '\f10d';
		font: 700 2rem/5.5rem fontawesome;
		text-align: center;
		color: #fff;
		}
	.w-grid-item.has-post-thumbnail .w-grid-item-elm.post_image.with_quote_icon:after,
	.w-grid-item-elm.post_image.media_preview:after {
		display: none;
		}

/* Grid element: Title */
.w-grid-item-elm.post_title {
	padding: 0; /* reset padding */
	}
.w-grid-item.sticky .w-grid-item-elm.post_title {
	font-weight: bold !important;
	}
.w-grid-item.format-link .w-grid-item-elm.post_title a:after {
	content: '\f360';
	font-family: fontawesome;
	font-weight: 400;
	display: inline-block;
	vertical-align: top;
	margin: 0 0.5em;
	}
	
/* Grid element: Taxonomy */
.w-grid-item-elm.post_taxonomy.style_badge {
	margin-left: -0.2em;
	margin-right: -0.2em;
	}
	.w-grid-item-elm.post_taxonomy.style_badge a {
		display: inline-block;
		vertical-align: top;
		line-height: 2.6em;
		margin: 0.2em;
		padding: 0 1.2em;
		border-radius: 5em;
		border: none !important;
		color: #fff !important;
		}
	
/* Grid element: Button */
.w-grid-item-elm > .w-btn {
	font-size: inherit;
	}

/* Fix for IE11 */
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
.w-grid .w-vwrapper:not(.grid_wrapper_circle),
.w-grid .w-vwrapper > * {
	width: 100%;
	}
.w-grid .w-hwrapper,
.w-grid .w-vwrapper {
	pointer-events: auto;
	}
}

/* Extra helper classes ========================================================================== */

.grid_width_full {
	width: 100%;
	}
.grid_wrapper_circle {
	flex-shrink: 0;
	height: 5rem;
	width: 5rem;
	}
	
/* Template: Blog Cards */
.grid_rel_no_image {
	position: relative !important;
	z-index: 1;
	}
.w-grid-item.format-gallery .grid_rel_no_image,
.w-grid-item.has-post-thumbnail .grid_rel_no_image {
	position: absolute !important;
	}
	
/* Template: Testimonial 6 */
.grid_arrow_bottom:after {
	content: '';
	position: absolute;
	bottom: -0.6rem;
	left: 3.75rem;
	height: 1.5rem;
	width: 1.5rem;
	transform: rotate(45deg);
	background-color: inherit;
	}

/* Template: Portfolio 1 */
.grid_arrow_top > * {
	position: relative;
	}
.grid_arrow_top:before {
	content: '';
	position: absolute;
	top: 0.4rem;
	left: 50%;
	margin-left: -0.75rem;
	height: 1.5rem;
	width: 1.5rem;
	transform: rotate(45deg);
	background-color: inherit;
	transition-duration: inherit;
	}
.w-grid-item-h:hover .grid_arrow_top:before {
	top: -0.7rem;
	}

/* Template: Portfolio 12 */
.w-vwrapper.grid_style_12:before,
.w-vwrapper.grid_style_12:after {
	content: '';
	position: absolute;
	top: 2rem;
	left: 2rem;
	right: 2rem;
	bottom: 2rem;
	opacity: 0;
	transition: transform 0.35s, opacity 0.35s;
	}
.w-vwrapper.grid_style_12:before {
	border-top: 1px solid;
	border-bottom: 1px solid;
	transform: scale(0, 1);
	}
.w-vwrapper.grid_style_12:after {
	border-left: 1px solid;
	border-right: 1px solid;
	transform: scale(1, 0);
	}
.w-grid-item-h:hover .w-vwrapper.grid_style_12:before,
.w-grid-item-h:hover .w-vwrapper.grid_style_12:after {
	opacity: 1;
	transform: scale(1);
	}

/* Template: Portfolio 15 */
.w-vwrapper.grid_style_15:before,
.w-vwrapper.grid_style_15:after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	opacity: 0;
	transition: transform 0.35s, opacity 0.35s;
	}
.w-vwrapper.grid_style_15:before {
	border-top: 8px solid;
	border-bottom: 8px solid;
	transform: scale(0, 1);
	}
.w-vwrapper.grid_style_15:after {
	border-left: 8px solid;
	border-right: 8px solid;
	transform: scale(1, 0);
	}
.w-grid-item-h:hover .w-vwrapper.grid_style_15:before,
.w-grid-item-h:hover .w-vwrapper.grid_style_15:after {
	opacity: 1;
	transform: scale(1);
	}

/* Template: Portfolio 16 */
.w-grid-item.ratio_1x1 .w-grid-item-elm.grid_corner_image {
	transform-origin: 90% 90%;
	}
.w-grid-item.ratio_3x2 .w-grid-item-elm.grid_corner_image {
	top: -25% !important;
	bottom: -25% !important;
	transform-origin: 90% 66%;
	}
.w-grid-item.ratio_4x3 .w-grid-item-elm.grid_corner_image {
	top: -16.67% !important;
	bottom: -16.67% !important;
	transform-origin: 90% 72%;
	}
.w-grid-item.ratio_3x4 .w-grid-item-elm.grid_corner_image {
	left: -16.67% !important;
	right: -16.67% !important;
	transform-origin: 72% 90%;
	}
.w-grid-item.ratio_2x3 .w-grid-item-elm.grid_corner_image {
	left: -25% !important;
	right: -25% !important;
	transform-origin: 66% 90%;
	}
@media (min-width: 600px) {
.w-grid-item.ratio_1x1.size_2x1 .w-grid-item-elm.grid_corner_image {
	top: -50% !important;
	bottom: -50% !important;
	transform: scale(0.15) !important;
	transform-origin: 96% 66.2%;
	}
.w-grid-item.ratio_1x1.size_1x2 .w-grid-item-elm.grid_corner_image {
	left: -50% !important;
	right: -50% !important;
	transform: scale(0.15) !important;
	transform-origin: 66.4% 95.7%;
	}
.w-grid-item.ratio_3x2.size_2x1 .w-grid-item-elm.grid_corner_image {
	left: 0 !important;
	right: 0 !important;
	top: -100% !important;
	bottom: -100% !important;
	transform: scale(0.15) !important;
	transform-origin: 96% 56.5%;
	}
.w-grid-item.ratio_3x2.size_1x2 .w-grid-item-elm.grid_corner_image {
	top: 0 !important;
	bottom: 0 !important;
	left: -16.67% !important;
	right: -16.67% !important;
	transform: scale(0.225) !important;
	transform-origin: 77% 93.2%;
	}
.w-grid-item.ratio_3x2.size_2x2 .w-grid-item-elm.grid_corner_image {
	transform: scale(0.15) !important;
	transform-origin: 95.7% 76.3%;
	}
.w-grid-item.ratio_4x3.size_2x1 .w-grid-item-elm.grid_corner_image {
	top: -83.3333% !important;
	bottom: -83.3333% !important;
	transform: scale(0.15) !important;
	transform-origin: 95.7% 59.2%;
	}
.w-grid-item.ratio_4x3.size_1x2 .w-grid-item-elm.grid_corner_image {
	top: 0 !important;
	bottom: 0 !important;
	left: -25% !important;
	right: -25% !important;
	transform: scale(0.2) !important;
	transform-origin: 73.2% 94.3%;
	}
.w-grid-item.ratio_4x3.size_2x2 .w-grid-item-elm.grid_corner_image {
	transform: scale(0.15) !important;
	transform-origin: 95.8% 81.2%;
	}
}
.w-grid-item .w-grid-item-h:hover .w-grid-item-elm.grid_corner_image {
	border-radius: 0;
	transform: scale(1) !important;
	}
