/* 
 * IconBox
 */

.w-iconbox {
	position: relative;
	}
	.w-iconbox-link {
		display: block; /* fix focus state in Chrome */
		-webkit-flex-shrink: 0; /* fix for older Safari */
		flex-shrink: 0;
		color: inherit;
		transition: none;
		-webkit-tap-highlight-color: rgba(0,0,0,0);
		}
		.w-iconbox-icon {
			font-size: 36px; /* default value */
			text-align: center;
			line-height: 1;
			max-width: 100%;
			width: 1.1em;
			margin: 0 auto;
			position: relative;
			z-index: 1;
			transition: background-color 0.3s, color 0.3s, box-shadow 0.1s;
			}
		.w-iconbox.style_default.icontype_img .w-iconbox-icon {
			line-height: 0;
			overflow: hidden;
			width: 1em;
			}
			.w-iconbox-icon i {
				vertical-align: top;
				line-height: inherit;
				}
			.w-iconbox-icon img {
				vertical-align: top;
				position: relative;
				}
		.w-iconbox .w-iconbox-title {
			padding: 0.6em 0;
			margin-bottom: 0;
			transition: color 0.3s;
			}
		.no-touch .w-iconbox-link:hover .w-iconbox-title {
			color: inherit;
			}
		.w-iconbox-text p,
		.w-iconbox-text ul,
		.w-iconbox-text ol {
			margin-bottom: 1rem !important;
			}

/* ICONPOS top */
.w-iconbox.iconpos_top {
	text-align: center;
	margin: 0 auto;
	max-width: 25rem;
	}

/* ICONPOS left */
.w-iconbox.iconpos_left {
	display: -webkit-flex; /* fix for older Safari */
	display: flex;
	text-align: left;
	}
.w-iconbox.iconpos_left.no_text {
	align-items: center;
	}
	.w-iconbox.iconpos_left .w-iconbox-icon {
		-webkit-flex-shrink: 0; /* fix for older Safari */
		flex-shrink: 0;
		margin-right: 1.5rem;
		margin-right: calc(15px + 0.2em);
		}
	.w-iconbox-meta {
		-webkit-flex-grow: 1; /* fix for older Safari */
		flex-grow: 1;
		}
		.w-iconbox.iconpos_left .w-iconbox-title {
			padding-top: 0;
			margin-top: -0.2em;
			}
		.w-iconbox.iconpos_left.no_text .w-iconbox-title {
			padding-bottom: 0;
			margin-top: 0;
			}
.w-iconbox.iconpos_left.no_title.no_text {
	display: inline-block;
	vertical-align: top;
	}
	.w-iconbox.iconpos_left.no_title.no_text .w-iconbox-icon {
		margin: 0.3rem;
		width: auto;
		}
	
/* STYLE: default */
.w-iconbox.style_default .w-iconbox-icon {
	background-color: transparent !important;
	box-shadow: none !important;
	color: inherit;
	}

/* STYLE: circle & outlined */
.w-iconbox.style_circle .w-iconbox-icon,
.w-iconbox.style_outlined .w-iconbox-icon {
	line-height: 2.5em;
	height: 2.5em;
	width: 2.5em;
	overflow: hidden;
	border-radius: 50%;
	}
.w-iconbox.style_outlined .w-iconbox-icon {
	background-color: transparent !important;
	}
.w-iconbox.color_primary.style_circle .w-iconbox-icon,
.w-iconbox.color_secondary.style_circle .w-iconbox-icon,
.no-touch .w-iconbox.style_circle .w-iconbox-link:hover .w-iconbox-icon,
.no-touch .l-section.color_primary .w-iconbox-link:hover .w-iconbox-title {
	color: #fff !important;
	}
.no-touch .w-iconbox.style_outlined .w-iconbox-link:hover .w-iconbox-icon {
	color: #fff !important;
	box-shadow: 0 0 0 2px transparent inset;
	transition: color 0.3s, box-shadow 0.1s 0.3s;
	}
	.no-touch .w-iconbox.style_circle .w-iconbox-icon:before,
	.no-touch .w-iconbox.style_outlined .w-iconbox-icon:before {
		display: block;
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		height: 0;
		width: 100%;
		transform: translateZ(0); /* fix for Chrome */
		transition: height 0.3s;
		}
	.no-touch .w-iconbox.style_circle .w-iconbox-link:hover .w-iconbox-icon:before,
	.no-touch .w-iconbox.style_outlined .w-iconbox-link:hover .w-iconbox-icon:before {
		height: 100%;
		}
	.w-iconbox.style_circle .w-iconbox-icon i,
	.w-iconbox.style_outlined .w-iconbox-icon i {
		position: relative;
		}
	.w-iconbox.style_circle .w-iconbox-icon img,
	.w-iconbox.style_outlined .w-iconbox-icon img {
		top: 50%;
		transform: translateY(-50%);
		}
		